
body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    background-color: cornflowerblue;
  }
.header{
    position: absolute;
    display: flex;
    flex-direction: row;

    padding: 10px;
    width: 100%;
    background-color: aqua;
}
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0;
  }
  